* {
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: left;
    align-items: center;
    min-height: 50vh;
    margin: 50;
    background-color: bisque;
    font-size: 2rem;
    font-family: 'Roboto Mono', monospace;
    padding-top: 6rem;
}

.container{
    background-color: bisque;
    padding: 1rem;
    border-radius: .4rem;
    width: 3000px;
    max-width: 95%;
}


.lyric-display{
    position: absolute;
    margin-bottom: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
    color: rgb(142, 141, 141);
}
 
.lyric-input{
    /* hide input */
    position: absolute;
    background-color: transparent;
    color: transparent;
    border: transparent;
    outline: none;

    margin-bottom: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
    width: 95%;
    z-index: 5;

    /* hide text box further  */
    resize: none;
    overflow: hidden;
}


.correct{
    color: black;
}

.incorrect{
    color: red;
    text-decoration: underline;
}

.play-button {
    position: fixed; /* Fixed position to keep it in view */
    z-index: 9999; /* Set a high z-index value */
    width: 75vh; /* Adjust the width and height as needed */
    height: 75vh;
    background-color: #7403e4;
    border: 25px solid #4e009b;
    color: white;
    text-align: center;
    font-size: 50px;
    border-radius: 50%; /* Make it a circle */
    top: 50%;
    left: 50%;
    /* Center horizontally and vertically */
    transform: translate(-50%, -50%); 
}
  
  .play-button.clicked {
    transition: transform 2s ease-in-out .5s;
    /* 
        because we transformed initially in .play-button, we need to add -50% 
        for the y to achieve an x-axis translate
    */
    transform: translate(-200rem, -50%);
  }

  .options{
    z-index: 900;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
  }

  .option {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    
    padding: 10px 20px;
    background-color: #ddd;
    margin-bottom: 5px;
    cursor: pointer;
  }  
  

  .blur-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px); /* Adjust blur radius as needed */
    z-index: 9998; /* Make sure it's behind play button */
    transition: opacity 1s ease .5s; /* for fading out blur when play is clicked */
  }

  .blur-layer.fade-out {
    /* fade out blur layer */
    opacity: 0;
    /* put behind everything */
    z-index: -1;
  }